/* ------------------- NAVIGATION BAR ------------------- */
body > nav {
    background-color: var(--violet);
    position: sticky;
    top: 0;
}

/* NO visible menú hamburguesa */
body > nav > label, #chkMenu{ display: none; } /* lleva el &equiv i el check*/

body > nav > ul{
    padding: 0; /* lleva sangria */
    display: flex;
    justify-content: space-evenly;
    margin: 0; /* ajusta que estiga apegat */
}    

.menu > li{
    flex: 1; /* que ocupe tot el bloc */
    padding: 1em;
}
.menu > li > a{
    color: #fff;
    text-align: center;
    display: block;
    letter-spacing: 1px;
}
.menu > li > a > i{ padding-right: .5em; }

/* ENLLAÇOS */
nav li:hover {
    background-color: var(--tt);
    transition: 0.4s ease;
}

/* ------------- MEDIA QUERIES ------------- */
@media screen and (max-width: 480px){
    /* MENU HAMBUERGUESA */
    body > nav > ul{ display: none; }

    body > nav > label{
        cursor: pointer;
        display: block;
    }
    body > nav > label:hover{ /*no te molt sentit xq en mobil no se hoverea*/
        color: #fff;
        transition: 0.4s ease;
    }

    #chkMenu:checked+ul{ display: block; }

        #chkMenu:checked+ul li{ padding: .5em; } 

    nav > label[for="chkMenu"]{ /* &equiv; */
        font-size: 1.5em;
        font-weight: bold;
        color: var(--melon);
        padding: 0 .5em;
    }

    .menu > li > a{ font-size: small; }
}

@media screen and (min-width: 480px) and (max-width: 779px){           
    .menu li { padding: 0.65em;}   
    .menu > li > a{ font-size: 0; }
    .menu > li > a > i{
        font-size: medium;
        padding-right: 0;
    }
}

@media screen and (min-width: 780px) and (max-width: 864px){
    .menu > li > a > i{ display: none; }
}