@import url(formularios.css);
/* --------------------- Estil comu --------------------- */
html {
    --glaucous: #7d82b8ff;
    --pink-crayola: #ef798aff;
    --melon: #f7a9a8ff;
    --violet: #683257ff;
    --t: #565656; /* text */

    /* en rgba per si ho necessitarem per a transparencies */
    /*
        --glaucous: rgba(125, 130, 184, 1);
        --pink-crayola: rgba(239, 121, 138, 1);
        --melon: rgba(247, 169, 168, 1);
        --violet: rgba(104, 50, 87, 1);
    */
}

/* GENERAL */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    text-align: justify;
}

body{
    min-width: 380px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--t);
}

a{ font-weight: bold; }

/* HEADER */
header{
    background-color: var(--melon);
    display: inline-flex; /* alinea img amb titols */
    font-family: 'Playfair Display';
    padding: 1em;
    color: var(--violet);
    align-items: center;
    width: 100%; /* fa que el rosa de fons ocupe tota la pantalla */
}
    header > a { margin-left: 1em; }
    header > div{ padding-left: 1em; } /* xicoteta separació */
        header > div > h1, header > div > h2{
            margin: inherit;
            padding: .25em;
        }

#logo { /* regular */
    width: 4.5em;
    height: auto;
}

/* NAVIGATION BAR */
body > nav > ul{
    padding: 0; /* lleva sangria */
    display: flex;
    
}

/* NO visible menú hamburguesa */
body > nav > label{ display: none; } /* lleva el &equiv */

.recorte{
    text-overflow: ellipsis;
}

#chkMenu{ display: none; } /* lleva check*/



/* ------------- MEDIA QUERIES ------------- */
@media screen and (max-width: 480px){
    /* MENU HAMBUERGUESA */
    body > nav > ul{
        display: none;
    }
    body>nav>label{
        cursor: pointer;
        display: block;
    }
    #chkMenu:checked+ul{
        display: block;
    }
}

@media screen and (min-width: 480px) and (max-width: 779px){

}

@media screen and (min-width: 780px) and (max-width: 864px){
    
}