@import url(formularios.css);
@import url(navbar.css);
@import url(grid.css); 

/* --------------------- Estil comu --------------------- */
html {
    --glaucous: #7d82b8ff;
    --pink-crayola: #ef798aff;
    --melon: #f7a9a8ff;
    --violet: #683257ff;
    --vt: rgba(104, 50, 87, .8); /* violet transparent */
    --t: #565656; /* text */

    /* en rgba per si ho necessitarem per a transparencies */
    /*
        --glaucous: rgba(125, 130, 184, 1);
        --pink-crayola: rgba(239, 121, 138, 1);
        --melon: rgba(247, 169, 168, 1);
        --violet: rgba(104, 50, 87, 1);
    */
}

/* GENERAL */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    text-align: justify;
}

body{
    min-width: 380px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--t);
}

a{ font-weight: bold; }

/* HEADER */
header{
    background-color: var(--melon);
    display: inline-flex; /* alinea img amb titols */
    font-family: 'Playfair Display';
    padding: 1em;
    color: var(--violet);
    align-items: center;
    width: 100%; /* fa que el rosa de fons ocupe tota la pantalla */
}
    header > a { margin-left: 1em; }
    header > div{ padding-left: 1em; } /* xicoteta separació */
        header > div > h1, header > div > h2{
            margin: inherit;
            padding: .25em;
        }

#logo { /* regular */
    width: 4.5em;
    height: auto;
}

/* FOOTER */
footer{
    background-color: var(--melon);
    padding: .5em;
    text-align-last: center;
    color: var(--violet);
}
    footer > p > a{ color: var(--violet); }

/* MAIN - SECTION */
body > main{ 
    padding: 1em; /* q no estiga tot apegat */
}

    body > main > section > div > article{
        border-radius: 10px;
        margin: 0.5em;
        padding: 2em;
        transition: 0.3s;
        width:auto;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    body > main > section > div > article:hover{ box-shadow: 0 0 1.5em 0.15em var(--melon); }
    

.carta{ padding: 0; } /* cartetes d'index */

    .carta > a > h4 , .carta > p{
        padding: 1em;
        margin: 0;
    }

.recorte{
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
}

/* NO visible menú hamburguesa */
body > nav > label{ display: none; } /* lleva el &equiv */

#chkMenu{ display: none; } /* lleva check*/



/* ------------- MEDIA QUERIES ------------- */
@media screen and (max-width: 480px){
    /* MENU HAMBUERGUESA */
    body > nav > ul{
        display: none;
    }
    body>nav>label{
        cursor: pointer;
        display: block;
    }
    #chkMenu:checked+ul{
        display: block;
    }
    .image-grid { --num-cols: 1; }
}

@media screen and (min-width: 480px) and (max-width: 779px){
    .image-grid { --num-cols: 2; }
}

@media screen and (min-width: 780px) and (max-width: 864px){
    .image-grid { --num-cols: 3; }
}

@media screen and (min-width: 865px) and (max-width: 1920px){
    
}