@import url(formularios.css);
@import url(navbar.css);
@import url(grid.css); 

/* --------------------- Estil comu --------------------- */
html {
    --glaucous: #7d82b8ff;
    --pink-crayola: #ef798aff;
    --melon: #f7a9a8ff;
    --violet: #683257ff;
    --vt: rgba(104, 50, 87, .25); /* violet transparent */
    --t: #565656; /* text */

    /* en rgba per si ho necessitarem per a transparencies
        --glaucous: rgba(125, 130, 184, 1);
        --pink-crayola: rgba(239, 121, 138, 1);
        --melon: rgba(247, 169, 168, 1);
        --violet: rgba(104, 50, 87, 1);
    */
}

/* GENERAL */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    text-align: justify;
}

body{
    min-width: 380px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--t);
}

a{ font-weight: bold; }

/* HEADER */
header{
    background-color: var(--melon);
    display: inline-flex; /* alinea img amb titols */
    font-family: 'Playfair Display';
    padding: 1em;
    color: var(--violet);
    align-items: center;
    width: 100%; /* fa que el rosa de fons ocupe tota la pantalla */
}
    header > a { margin-left: 1em; }
    header > div{ padding-left: 1em; } /* xicoteta separació */
        header > div > h1, header > div > h2{
            margin: inherit;
            padding: .25em;
        }

#logo { /* regular */
    width: 4.5em;
    height: auto;
}
#logo:hover{
    filter: drop-shadow(1px 5px var(--vt)); /* fa sombra en la forma */
    transition: .4s;
}

/* FOOTER */
footer{
    background-color: var(--melon);
    padding: .5em;
    text-align-last: center;
    color: var(--violet);
}
    footer > p > a{ color: var(--violet); }

/* MAIN - SECTION */
body > main{ 
    padding: 2em; /* q no estiga tot apegat */
}
    body > main > h2{
        color: var(--violet);
        font-size: 2em;
        margin: 0.25em 0 1em 0;
    }

        body > main > section > div > article{
            border-radius: 10px;
            margin: 1em 0;
            padding: 2em;
            transition: 0.3s;
            width: auto;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        body > main > section > div > article:hover{ box-shadow: 0 0 1.5em 0.15em var(--melon); }
        

.carta{ padding: 0; } /* cartetes d'index */

    .carta > a > h4 , .carta > p{
        padding: 1em;
        margin: 0;
    }
    
/* text overflow */
.carta > a{ display: grid; } /* este fill de puta es lo que fallava, si els articles estan com a grid doncs açó igual */

.recorte{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body > main > nav > p{
    text-align: center;
}

/* NO visible menú hamburguesa */
body > nav > label{ display: none; } /* lleva el &equiv */

#chkMenu{ display: none; } /* lleva check*/


/* ------------- MEDIA QUERIES ------------- */
@media screen and (max-width: 480px){
    /* MENU HAMBUERGUESA */
    body > nav > ul{
        display: none;
    }
    body > nav > label{
        cursor: pointer;
        display: block;
    }
    #chkMenu:checked+ul{
        display: block;
    }
    .image-grid { --num-cols: 1; }

    /* HEADER */
    header{
        padding: 1.5em;
        font-size: small;
    }
        header > a { margin-left: .75em; }
        header > div{ padding-left: 1.5em; } /* xicoteta separació */
            header > div > h1{
                margin: 0;
                padding: 0;
            }
            header > div > h2{ display: none; }

    #logo { width: 2.5em; }
    #logo:hover{ filter: none; }
}

@media screen and (min-width: 480px) and (max-width: 779px){
    .image-grid { --num-cols: 2; }

    header{ font-size: small; }
        header > a { margin-left: 1.5em; }
        header > div{ padding-left: 1.25em; } /* xicoteta separació */
}

@media screen and (min-width: 780px) and (max-width: 864px){
    .image-grid { --num-cols: 3; }
}

@media screen and (min-width: 865px) and (max-width: 1920px){
    
}