html {
    --glaucous: #7d82b8ff;
    --pink-crayola: #ef798aff;
    --melon: #f7a9a8ff;
    --violet: #683257ff;
    --t: #565656; /* text */

    /* en rgba per si ho necessitarem per a transparencies */
    /*
        --glaucous: rgba(125, 130, 184, 1);
        --pink-crayola: rgba(239, 121, 138, 1);
        --melon: rgba(247, 169, 168, 1);
        --violet: rgba(104, 50, 87, 1);
    */
}

form{
    width: auto;
    background-color: var(--pink-crayola);
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    margin: 0.5em;


}
form>label{

    padding: 0.5em;
    margin: 0.5em;
    display: inline-block;
    background-color: var(--melon);
    text-align: left;
    transition: .5s;

}
form>label:hover{
    border-radius: 1em;
    transition: .5s;
    color: #FFF;

}
form>label>input{
    width: 100%;
    box-sizing:border-box;
    background:none;
    outline:none;
    border:0;
    transition:all .3s;border-bottom:2px solid var(--melon)}

form>label>input:focus{
    border-bottom:2px solid var(--violet)
    
}

button{
    outline:none;
     padding: 0;
    /* border: none;
    background: none;*/
   


}
.boton{
    border-radius: .5em;
border:0;
    padding: 0.5em;
    background-color: var(--t);
    width: auto;
    color:#FFF;
    transition:.5s;
    margin:0.5em;


   
}
.boton:hover{



    background-color:violet;
    width: auto;
    color:#000;
    transition: .5s;
}

#img{
    display: none;
}
@media screen and (max-width: 480px){

form>label{
    width: 15em;
}
}

@media screen and (min-width: 480px) and (max-width: 779px){
   
form>label{
    width:45%;
}
}

@media screen and (min-width: 780px) and (max-width: 864px){
   form>label{
    width:45%;
   }
    
}
@media screen and (min-width: 865px) and (max-width: 1920px){
    form>label{
     width:45%;
    }
     
 }
